<!-- login.ejs -->
<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="login-container">
      <button onclick="window.location.href='/loginSupplier'">
        Supplier login
      </button>
      <button onclick="window.location.href='/storeOwner'">
        Store owner login
      </button>
    </div>
  </body>
</html>
